@import url("../components/header.css");
@import url("../components/modal.css");
@import url("../components/post/postHeader.css");
@import url("../components/post/postContentTag.css");
@import url("../components/post/morePostButton.css");
@import url("../components/post/postFiles.css");
@import url("../components/slideButton.css");
@import url("../components/post/postSetting.css");

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.post {
  background-color: white;
  border: var(--main-border);
  border-radius: 5px;
  width: 600px;
  margin-bottom: 27px;
}

.post__files-wrap {
  width: 600px;
  position: relative;
  overflow: hidden;
  height: 500px;
}

.post-content {
  padding: 16px 16px 10px 16px;
  font-size: 16px;
  position: relative;
  line-height: 22px;
}

.post-content__more-description {
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.post-content__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  color: #474344;
}

.post-like-count-wrap {
  margin-left: 2px;
}
.post-content__like-icon--compacted {
  color: red;
}

.post-content__like-icon--compacted {
  margin-right: 3px;
}

.post-content__like-icon--unvisible {
  display: none !important;
}

.post__option {
  display: flex;
  border-top: var(--main-border);
}

.post-option {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 7px;
  font-weight: bold;
  cursor: pointer;
}

.post-option:hover {
  opacity: 0.7;
}

.post-option--like {
  border-right: var(--main-border);
}

.show-post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  height: 50px;
  background-color:white;
  border: var(--main-border);
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 500px;
  margin-bottom: 20px;
}

.show-post-filter:active {
  opacity: 0.7;
}

/* post-filter-form 시작 */
.post-filter-form {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0px;
}

.post-filter-form__sort, 
.post-filter-form__tag,
.post-filter-form__buttons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
}

.post-filter-form__buttons {
  height: 80px;
}

.post-filter-form__text,
.post-filter-form__select {
  width: 270px;
  height: 40px;
}

.post-filter-form__select {
  -webkit-appearance:none; /* 크롬 화살표 없애기 */
  -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
  appearance:none; /* 화살표 없애기 */
  cursor: pointer; 
}

.post-filter-form__sort-icon,
.post-filter-form__search-icon {
  position: absolute;
  left: 35px;
  top: 20px;
  color: black;
}

.post-filter-form__sort-icon {
  left: 37px;
}

.post-filter-form__text,
.post-filter-form__select {
  width: 250px;
  height: 40px;
  padding-left: 35px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.post-filter-form__text:focus,
.post-filter-form__select:focus {
  outline: none;
}

.post-filter-form__buttons {
  gap: 55px;
}

.post-filter-form__submit,
.post-filter-form__reset {
  width: 80px;
  height: 40px;
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-filter-form__submit:active,
.post-filter-form__reset:active {
  opacity: 0.7;
}
/* post-filter-form 끝 */

.post-page {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.post-page a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border : var(--main-border);
  border-radius: 3px;
}

.post-page__left-button,
.post-page__right-button {
  background-color: var(--blue);
  color: white;
}