@import url("../components/header.css");

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header 영역 끝 */
/* main content 영역 시작 */
.main-content {
  margin-top: 90px;
}

.main-post {
  width: 600px;
  margin-bottom: 27px;
}

.main-post-header,
.main-post-media-wrap,
.main-post-contents {
  width: 600px;
}

.main-post-images-wrap {
  width: 600px;
  /* 추후 조정 필요 */
  height: 500px;
}

.main-post-profile__name,
.main-post-profile__more {
  opacity: 0.7;
}

.main-post-image {
  width: 600px;
  /* 추후 조정 필요 */
  height: 500px;
}

.main-post-contents {
  min-height: 216px;
  padding-bottom: 54px;
}

.main-post-explanation {
  margin-bottom: 9px;
  line-height: 1.6;
}

.main-post-explanation__owner {
  font-weight: bold;
}

.main-post-comments-count,
.post-time-wrap{
  margin-bottom: 12px;
}

.main-post-comment__text {
  width: 485px;
}
/* main content 영역 끝 */

.main-post-more-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.main-post-more {
  width: 100px;
  height: 50px;
  background-color: white;
  border: var(--main-border);
  border-radius: 5px;
}

.main-post-more:active {
  opacity: 0.7;
}

/* option box 시작 */
.option-box-body__buttons {
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.option-box-body__delete, 
.option-box-body__modify,
.option-box-body__cancel {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #575757;
  cursor: pointer;
}

.option-box-body__delete {
  color: #de3131;
}

.option-box-body__modify {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

/* option box 끝 */