@import url("../components/header.css");
@import url("../components/post/postHeader.css");
@import url("../components/post/postContentTag.css");
@import url("../components/slideButton.css");

main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-post-form {
  background: white;
  width: 950px;
  height: 630px;
  border-radius: 10px;
  background-color: white;
  border: var(--main-border);
  border-radius: 5px;
}

/* update-form__header 시작 */
.update-post-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: var(--main-border);
  padding: 17px;
}

.update-post-form__reset,
.update-post-form__submit {
  width: 70px;
}

.update-post-form__reset {
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  border: none;
  font-weight: bold;
}

.update-post-form__title {
  font-weight: bold;
}

.update-post-form__submit {
  font-weight: bold;
  font-size: 15px;
  border: none;
  color: var(--blue);
  background: white;
  cursor: pointer;
}
/* update-form__header 끝 */
.update-post-form__content {
  display: flex;
  height: 100%;
}

/* update-post-form__left-column 시작 */
.update-post-form__left-column {
  position: relative;
  width: 500px;
  height: 580px;
  border-right: var(--main-border);
}

.update-post-form__files-wrap {
  width: 500px;
  height: 410px;
  position: relative;
  overflow: hidden;
}

.update-post-form__files {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 100%;
  background-color: black;
  transition: left 0.25s ease-out;
}

.update-post-form__file {
  width: 500px;
  height: 410px;
  z-index: 1;
}

.update-post-form__files--no-file {
  display: none !important;
}

.slide-button {
  top: 200px;
}

.update-post-form__select-files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.update-post-form__file-icon-wrap {
  font-size: 100px;
}

.update-post-form__file-explanation-wrap {
  font-size: 26px;
  margin-top: 27px;
  margin-bottom: 27px;
  opacity: 0.55;
}

.update-post-form__file-input {
  display: none;
}

.update-post-form__file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  width: 130px;
  height: 45px;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.update-post-form__file-label:active {
  background-color: var(--dark-sky-blue);
}

.update-post-form__tags {
  width: 500px;
  height: 170px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.post-tags__input-wrap {
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.post-tags__input {
  font-size: 20px;
  border: none;
  width: 430px;
  outline: none;
}

.post-content__tags {
  max-height: 100px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.post-content__tags::-webkit-scrollbar {
  display: none;
}
/* update-post-form__left-column 끝 */
.update-post-form__right-column {
  width: 450px;
  height: 580px;
  position: relative;
}

.post__owner-profile {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.update-post-form__text-wrap {
  display: flex;
  height: 510px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}

.update-post-form__text {
  resize: none;
  font-size: 16px;
  border: none;
  height: 465px;
}

.update-post-form__text-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  padding-top: 16px;
}

.update-post-form__text:focus {
  outline: none;
}

.update-post-form__text-icon {
  font-size: 20px;
  opacity: 0.5;
}

.update-post-form__text-info {
  font-size: 12px;
  opacity: 0.3;
  cursor: pointer;
}