@import url("../components/header.css");
@import url("../components/post/morePostButton.css");

main {
  margin-top: 100px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile,
.posts-wrap {
  width: 870px;
}

/* profile 시작 */
.profile {
  display: flex;
  justify-content: center;
}

.profile__image-wrap {
  margin-left: 60px;
  margin-right: 80px;
}

.profile__image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.profile__info {
  padding-right: 60px;
  width: 590px;
}

.profile__row:first-child {
  display: flex;
  align-items: center;
}

.profile__nickname {
  font-size: 30px;
  margin-right: 20px;
}

.profile__edit {
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  height: 27px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.profile__row:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile__post-count,
.profile__follower-count,
.profile__follow-count {
  font-weight: bold;
  margin-left: 2px;
}

.profile__follower {
  margin: 0 40px;
}

.profile__row:last-child {
  line-height: 21px;
}

.profile__name {
  font-weight: bold;
}
/* profile 끝 */
/* posts-wrap 시작 */
.posts-wrap {
  border-top: var(--main-border);
  margin-top: 40px;
}

.posts__title-wrap {
  margin: 20px 0 20px 10px;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  gap: 7px;
}

.post-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.post {
  width: 270px;
  height: 270px;
  cursor: pointer;
}
/* posts-wrap 끝 */