<article class="post main-post">
  <div class="post-header main-post-header">
    <header class="post-profile main-post-profile">
      <div class="post-profile__info main-post-profile__info">
        <img
          src="images/03.png"
          class="post-profile__image main-post-profile__image"
        />
        <span class="post-profile__name main-post-profile__name">meenoie</span>
      </div>
      <div class="post-profile__more main-post-profile__more">
        <i class="fas fa-ellipsis-h fa-lg"></i>
      </div>
    </header>
  </div>
  <div class="main-post-media-wrap">
    <div class="post-images-wrap main-post-images-wrap">
      <div class="post-images_buttons">
        <div class="post-images__prev-button slide-button">
          <i class="fas fa-chevron-circle-left"></i>
        </div>

        <div class="post-images__next-button slide-button">
          <i class="fas fa-chevron-circle-right"></i>
        </div>
      </div>

      <ul class="post-images slide-image main-post-images">
        <li class="post-images__list">
          <img src="images/01.png" class="main-post-image" />
        </li>
        <li class="post-images__list">
          <img src="images/02.png" class="main-post-image" />
        </li>
        <li class="post-images__list">
          <img src="images/03.png" class="main-post-image" />
        </li>
      </ul>
    </div>
    <!-- <div class="post-video-wrap"></div> -->
  </div>
  <div class="post-contents main-post-contents">
    <div class="post-options">
      <div class="post-options-column">
        <i class="far fa-heart post-options__heart"></i>
        <i class="far fa-comment post-options__comment"></i>
        <i class="far fa-paper-plane post-options__share"></i>
      </div>
      <div class="post-options-column">
        <i class="far fa-bookmark post-options__bookmark"></i>
      </div>
    </div>
    <div class="post-like-text">
      <span>좋아요 <span class="post-like-count">8000</span>개</span>
    </div>
    <div class="main-post-explanation">
      <a class="main-post-explanation__owner">meenoie</a>
      <span class="main-post-explanation__text">
        요리조리 2가 끝났어요ㅜㅜ..</span
      >
    </div>
    <div class="post-comments-count main-post-comments-count">
      <span class="show-comment">댓글 660개 모두 보기</span>
    </div>
    <div class="post-time-wrap">
      <a>4시간 전</a>
    </div>
    <div class="post-comment">
      <form
        action="/comments"
        method="post"
        class="post-comment__form"
        th:object="${commentSaveForm}"
      >
        <input type="hidden" id="postId" name="postId" value="" />
        <input type="hidden" id="memberId" name="memberId" value="" />
        <div class="post-comment__icons-wrap">
          <i class="far fa-smile"></i>
        </div>
        <input
          type="text"
          placeholder="댓글 달기..."
          class="post-comment__text main-post-comment__text"
          th:field="*{text}"
        />
        <input type="submit" value="게시" class="post-comment__button" />
      </form>
    </div>
  </div>
</article>
