<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새 게시물</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/screens/postRegistration.css" />
  </head>
  <body>
    <div id="wrap">
      <header>
        <div class="header-title-wrap">
          <a href="./main.html" class="header-title">OurMoments</a>
        </div>

        <div class="header-search">
          <i class="fas fa-search header-search__icon"></i>

          <input
            type="text"
            placeholder="사용자 검색"
            class="header-search__input"
          />

          <div class="header-search__result">
            <div class="header-search__triangle"></div>

            <div class="search-result">
              <div class="search-result__profile-wrap">
                <a href="./profile.html" class="search-result__profile">
                  <img
                    src="../storefiles/basic-profile-image.png"
                    alt="프로필 이미지"
                    class="search-result__profile-photo"
                  />

                  <div class="search-result__profile-names">
                    <span class="search-result__profile-nickname"
                      >nickname</span
                    >

                    <span class="search-result__profile-name">name</span>
                  </div>
                </a>

                <button class="search-result__follow-button">
                  <span class="search-result__follow">팔로우</span>
                </button>
              </div>

              <div class="search-result__profile-wrap">
                <a class="search-result__profile">
                  <img
                    src="../storefiles/basic-profile-image.png"
                    alt="프로필 이미지"
                    class="search-result__profile-photo"
                  />

                  <div class="search-result__profile-names">
                    <span class="search-result__profile-nickname"
                      >nickname</span
                    >

                    <span class="search-result__profile-name">name</span>
                  </div>
                </a>

                <button class="search-result__follow-button">
                  <span class="search-result__follow--cancel">팔로우 취소</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <nav class="header-nav">
          <a href="./main.html" class="nav nav--home">
            <i class="fas fa-home nav-icon"></i>
          </a>

          <a href="./postRegistration.html" class="nav nav--new-post">
            <i class="far fa-plus-square nav-icon"></i>
          </a>

          <div class="nav nav--account">
            <i class="fas fa-user nav-icon"></i>

            <div class="nav__options">
              <div class="nav__triangle"></div>

              <div class="nav-options">
                <div class="nav-option__my-page">
                  <a class="nav-option__text" href="../html/profile.html"
                    >마이페이지</a
                  >
                </div>

                <div class="nav-option__signout">
                  <span class="nav-option__text">로그아웃</span>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <div id="container">
        <main>
          <article class="add-form">
            <form
              action="/posts"
              method="post"
              enctype="multipart/form-data"
              class="add-post-form"
              th:object="${postSaveForm}"
            >
              <div class="add-post-form__header">
                <input
                  type="reset"
                  value="취소"
                  class="add-post-form__reset"
                  onclick="history.back()"
                />

                <h1 class="add-post-form__title">새 게시물 만들기</h1>

                <input
                  type="submit"
                  value="공유하기"
                  class="add-post-form__submit"
                />
              </div>

              <div class="add-post-form__content">
                <div class="add-post-form__left-column">
                  <div class="add-post-form__preview-wrap">
                    <div class="add-post-form__files-wrap">
                      <div class="slide-button slide-button--left">
                        <i class="fas fa-chevron-circle-left"></i>
                      </div>

                      <div class="slide-button slide-button--right">
                        <i class="fas fa-chevron-circle-right"></i>
                      </div>
                    </div>

                    <div class="add-post-form__select-files">
                      <div class="add-post-form__file-icon-wrap">
                        <i
                          class="fas fa-photo-video add-post-form__file-icon"
                        ></i>
                      </div>

                      <div class="add-post-form__file-explanation-wrap">
                        <span class="add-post-form__file-explanation"
                          >사진과 동영상을 등록해보세요</span
                        >
                      </div>

                      <div class="add-post-form__file-input-wrap">
                        <label for="files" class="add-post-form__file-label"
                          >컴퓨터에서 선택</label
                        >

                        <input
                          type="file"
                          id="files"
                          multiple
                          class="add-post-form__file-input"
                          th:field="*{files}"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="add-post-form__tags">
                    <div class="post-tags__input-wrap">
                      <i class="fas fa-tags"></i>

                      <input
                        type="text"
                        placeholder="태그 입력..."
                        class="post-tags__input"
                      />
                    </div>

                    <div class="post-content__tags"></div>
                  </div>
                </div>

                <div class="add-post-form__right-column">
                  <div class="post__owner-profile">
                    <div class="post-owner-profile">
                      <img
                        src="../storefiles/basic-profile-image.png"
                        alt="프로필 이미지"
                        onclick="location.href='./profile.html'"
                        class="post-owner-profile__image"
                      />

                      <div class="post-owner-profile__info">
                        <a
                          href="./profile.html"
                          class="post-owner-profile__nickname"
                          >nickname</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="add-post-form__text-wrap">
                    <textarea
                      placeholder="문구 입력..."
                      class="add-post-form__text"
                      th:field="*{text}"
                    ></textarea>

                    <div class="add-post-form__text-options">
                      <i class="far fa-smile add-post-form__text-icon"></i>

                      <span class="add-post-form__text-info"
                        ><span class="add-post-form__text-count">0</span
                        >/2,200</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </article>
        </main>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/b17793764c.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/header.js"></script>
    <script src="./js/slideController.js"></script>
    <script src="./js/postRegistration.js"></script>
    <script src="./js/postTag.js"></script>
  </body>
</html>
