<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시물 수정</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/screens/postModification.css" />
  </head>
  <body>
    <div id="wrap">
      <header>
        <div class="header-title-wrap">
          <a href="./main.html" class="header-title">OurMoments</a>
        </div>

        <div class="header-search">
          <i class="fas fa-search header-search__icon"></i>

          <input
            type="text"
            placeholder="사용자 검색"
            class="header-search__input"
          />

          <div class="header-search__result">
            <div class="header-search__triangle"></div>

            <div class="search-result">
              <div class="search-result__profile-wrap">
                <a href="./profile.html" class="search-result__profile">
                  <img
                    src="../storefiles/basic-profile-image.png"
                    alt="프로필 이미지"
                    class="search-result__profile-photo"
                  />

                  <div class="search-result__profile-names">
                    <span class="search-result__profile-nickname"
                      >nickname</span
                    >

                    <span class="search-result__profile-name">name</span>
                  </div>
                </a>

                <button class="search-result__follow-button">
                  <span class="search-result__follow">팔로우</span>
                </button>
              </div>

              <div class="search-result__profile-wrap">
                <a class="search-result__profile">
                  <img
                    src="../storefiles/basic-profile-image.png"
                    alt="프로필 이미지"
                    class="search-result__profile-photo"
                  />

                  <div class="search-result__profile-names">
                    <span class="search-result__profile-nickname"
                      >nickname</span
                    >

                    <span class="search-result__profile-name">name</span>
                  </div>
                </a>

                <button class="search-result__follow-button">
                  <span class="search-result__follow--cancel">팔로우 취소</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <nav class="header-nav">
          <a href="./main.html" class="nav nav--home">
            <i class="fas fa-home nav-icon"></i>
          </a>

          <a href="./postRegistration.html" class="nav nav--new-post">
            <i class="far fa-plus-square nav-icon"></i>
          </a>

          <div class="nav nav--account">
            <i class="fas fa-user nav-icon"></i>

            <div class="nav__options">
              <div class="nav__triangle"></div>

              <div class="nav-options">
                <div class="nav-option__my-page">
                  <a class="nav-option__text" href="../html/profile.html"
                    >마이페이지</a
                  >
                </div>

                <div class="nav-option__signout">
                  <span class="nav-option__text">로그아웃</span>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <div id="container">
        <main>
          <article class="update-form">
            <form
              action="/posts"
              method="post"
              enctype="multipart/form-data"
              class="update-post-form"
              th:object="${postSaveForm}"
            >
              <div class="update-post-form__header">
                <input
                  type="reset"
                  value="취소"
                  class="update-post-form__reset"
                />

                <h1 class="update-post-form__title">게시물 수정</h1>

                <input
                  type="submit"
                  value="공유하기"
                  class="update-post-form__submit"
                />
              </div>

              <div class="update-post-form__content">
                <div class="update-post-form__left-column">
                  <div class="update-post-form__files-wrap">
                    <div class="slide-button slide-button--left">
                      <i class="fas fa-chevron-circle-left"></i>
                    </div>

                    <div class="slide-button slide-button--right">
                      <i class="fas fa-chevron-circle-right"></i>
                    </div>

                    <div class="update-post-form__files">
                      <img
                        src="../storefiles/01.png"
                        alt="파일"
                        class="update-post-form__file"
                      />

                      <img
                        src="../storefiles/01.png"
                        alt="파일"
                        class="update-post-form__file"
                      />
                    </div>
                  </div>

                  <div class="update-post-form__tags">
                    <div class="post-tags__input-wrap">
                      <i class="fas fa-tags"></i>

                      <input
                        type="text"
                        placeholder="태그 입력..."
                        class="post-tags__input"
                      />
                    </div>

                    <div class="post-content__tags">
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#자연</span>
                        <input type="hidden" id="tag" name="tag" value="자연" />
                      </div>

                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#일상</span>
                      </div>

                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#캠핑</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#instagram</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#숲</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#바다</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#물멍</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#친구들과</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#함께</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#여행</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#사진</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#찰칵</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#찰칵</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#찰칵</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#찰칵</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#찰칵</span>
                      </div>
                      <div class="post-content__tag">
                        <span class="post-content__tag-name">#찰칵</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="update-post-form__right-column">
                  <div class="post__owner-profile">
                    <div class="post-owner-profile">
                      <img
                        src="../storefiles/basic-profile-image.png"
                        alt="프로필 이미지"
                        onclick="location.href='./profile.html'"
                        class="post-owner-profile__image"
                      />

                      <div class="post-owner-profile__info">
                        <a
                          href="./profile.html"
                          class="post-owner-profile__nickname"
                          >nickname</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="update-post-form__text-wrap">
                    <textarea
                      placeholder="문구 입력..."
                      class="update-post-form__text"
                      th:field="*{text}"
                    ></textarea>

                    <div class="update-post-form__text-options">
                      <i class="far fa-smile update-post-form__text-icon"></i>

                      <span class="update-post-form__text-info"
                        ><span class="update-post-form__text-count">0</span
                        >/2,200</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </article>
        </main>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/b17793764c.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/header.js"></script>
    <script src="./js/slideController.js"></script>
    <script src="./js/postModification.js"></script>
    <script src="./js/postTag.js"></script>
  </body>
</html>
