header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border: var(--main-border);
  background-color: white;
  z-index: 30;
  padding: 17px 25px;
}

header a:visited {
  color: black;
}

.header-title {
  font-family: var(--title-font);
  font-size: 35px;
  flex-basis: 300px;
}

.header-search {
  position: relative;
  color: #909090;
}

.header-search__input {
  width: 267px;
  height: 35px;
  padding-left: 40px;
  font-size: 16px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 8px;
  opacity: 0.7;
}

.header-search__input:focus {
  outline: none;
}

.header-search__result {
  position: absolute;
  top: 56px;
  left: -56.5px;
  display: none; 
}

.header-search__triangle {
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: -8px;
  left: 180px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.search-result {
  width: 380px;
  height: 360px;
  background-color: white;
  position: absolute;
  opacity: 1;
  z-index: 2;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding-top: 10px;
  overflow-y: scroll;
}

.search-result__profile-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 17px;
  height: 61px;
  cursor: pointer;
}

.search-result__profile-wrap:hover {
  background-color: rgb(253, 250, 250);
}

.search-result__profile {
  display: flex;
  align-items: center;
}

.search-result__profile-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 14px;
}

.search-result__profile-names {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.search-result__profile-nickname {
  margin-bottom: 8px;
  color: black;
}

.search-result__follow-button {
  cursor: pointer;
  height: 24px;
  background-color: white;
  color: rgb(255, 68, 99);
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.search-result__follow--cancel {
  color: black;
}

.header-search .fa-search {
  position: absolute;
  left: 15px;
  top: 9px;
}

.header-nav {
  display: flex;
  position: relative;
  margin-right: 17px;
}

.nav {
  margin-left: 27px;
  font-size: 27px;
  cursor: pointer;
}

.nav__options {
  position: absolute;
  top: 51px;
  right: 48px;
  display: none; 
}

.nav__triangle {
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: -8px;
  left: 27.5px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav-options {
  width: 75px;
  background-color: white;
  z-index: 100;
  position: absolute;
  opacity: 1;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}

.nav-option__my-page {
  border-bottom: var(--main-border);
}

.nav-option__my-page,
.nav-option__signout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.nav-option__text {
  color: black;
}