.post__owner-profile {
  width: 600px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.post-owner-profile {
  display: flex;
  align-items: center;
}

.post-owner-profile__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  border: var(--main-border);
  cursor: pointer;
}

.post-owner-profile__info {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.post-owner-profile__nickname {
  font-weight: bold;
}

.post-owner-profile__nickname:visited {
  color: black;
}

.post-owner-profile__time {
  font-size: 14px;
  opacity: 0.7;
}

.post__show-setting {
  cursor: pointer;
  opacity: 0.7;
}
