.slide-button--unvisible {
  display: none !important;
}

.slide-button--left,
.slide-button--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.slide-button--left {
  left: 10px;
}

.slide-button--right {
  right: 10px;
}

.slide-button--left .fa-chevron-circle-left,
.slide-button--right .fa-chevron-circle-right {
  opacity: 0.7;
  color: white;
  font-size: 24px;
}
