@import "reset.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Roboto&display=swap");

/* components */
@import "components/signin-signup.css";

/* screens */
@import "screens/main.css";
@import "screens/signin.css";
@import "screens/signup.css";
@import "screens/addpost.css";

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
}
