@import "reset.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Roboto&display=swap");

body {
  font-family: var(--general-font);
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
