.add-post__preview-next-button,
.add-post__preview-prev-button {
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0.7;
  font-size: 16px;
}

.add-post__preview-next-button .fa-chevron-right {
  margin-left: 2px;
}

.add-post__preview-prev-button .fa-chevron-left {
  margin-right: 2px;
}

.add-post__preview-wrap {
  width: 453.6px;
}
.add-post__preview {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 453.6px;
  transition: left 0.25s ease-out;
}

.add-post__preview-list {
  background-color: black;
  width: 453.6px;
  height: 402px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.add-post__preview-image {
  width: 453.6px;
  max-height: 402px;
}

.add-post__file-log-wrap {
  font-size: 70px;
}

.add-post__file-explanation-wrap {
  font-size: 22px;
  margin-top: 27px;
  margin-bottom: 27px;
  opacity: 0.55;
}

.add-post__file-input {
  display: none;
}

.add-post__file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  width: 125px;
  height: 32px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.add-post__file-label:active {
  background-color: var(--dark-sky-blue);
}
