<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>로그인</title>
</head>
<body>
<nav></nav>
<main class="signin-main">
    <section>
        <article class="signin-main__signin-column">
            <div class="signin">
                <div class="signin__form">
                    <header class="signin-header">
                        <h1>Instagram</h1>
                    </header>
                    <form action="/members/signin" method="post" class="signin-form" th:object="${signInForm}">
                        <input
                                class="signin-form__text"
                                type="text"
                                placeholder="전화번호, 사용자 이름 또는 이메일"
                                th:field="*{signInId}"
                        />
                        <input
                                class="signin-form__text"
                                type="password"
                                placeholder="비밀번호"
                                th:field="*{password}"
                        />
                        <input
                                class="signin-form__button"
                                type="submit"
                                value="로그인"
                        />
                    </form>
                </div>
                <div class="signin__division">
                    <div class="signin__division-line"></div>
                    <span class="signin__division-text">또는</span>
                    <div class="signin__division-line"></div>
                </div>
                <div class="signin__etc">
                    <div class="singin-facebook-login">
                        <a class="singin-facebook-login__link" href="">
                            <img src="/images/facebook_logo.png" alt=""/>
                            <span>Facebook으로 로그인</span>
                        </a>
                    </div>
                    <div class="singin-forget-password">
                        <a href="">비밀번호를 잊으셨나요?</a>
                    </div>
                </div>
            </div>
        </article>
        <div class="signin-main__signup-column">
            <span>계정이 없으신가요?&nbsp;</span>
            <a class="signup-link" href="/members/signup">가입하기</a>
        </div>
        <div class="signin-main__download-column">
            <div class="app-download__header">
                <span>앱을 다운로드하세요.</span>
            </div>
            <div class="app-download__body">
                <div class="app-download__box app-download__apple-box">
                    <a class="app-download__link" href="">
                        <img
                                class="app-download__apple-logo"
                                src="/images/apple-logo.png"
                                alt=""
                        />
                        <div class="app-download__apple-text">
                            <span><b>App Store</b>에서<br/></span>
                            <span>다운로드 하기</span>
                        </div>
                    </a>
                </div>
                <div class="app-download__box app-download__google-box">
                    <a class="app-download__link" href="">
                        <img
                                class="app-download__google-logo"
                                src="/images/playstore.png"
                                alt=""
                        />
                        <div class="app-download__google-text">
                            <span>다운로드 하기<br/></span>
                            <span>Google Play</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer></footer>

<script
        src="https://kit.fontawesome.com/b17793764c.js"
        crossorigin="anonymous"
></script>
</body>
</html>
