@import url("./post-header.css");
@import url("./post-content.css");

.post {
  background-color: white;
  border: var(--main-border);
  width: 600px;
  margin-bottom: 27px;
}

.post__files-wrap,
.post-file,
.post-content {
  width: 600px;
}

.post__files-wrap {
  position: relative;
  overflow: hidden;
}

.post-files {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.25s ease-out;
}


/* post-comment 시작 */
.post-comment {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.post-comment__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.post-comment__icons-wrap {
  font-size: 25px;
  cursor: pointer;
}

.post-comment__text {
  margin-left: 15px;
  font-size: 15px;
  border: none;
  /* 댓글 입력 너비 지정 필요 */
}

.post-comment__text:focus {
  outline: none;
}

.post-comment__button {
  margin-left: 15px;
  border: none;
  background-color: white;
  color: var(--blue);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.main-post-comments-count {
  color: #9d9095;
  cursor: pointer;
  /* 마진바텀 조정 필요 */
}
/* post-comment 끝 */
