.post-content {
  padding: 16px 16px 10px 16px;
  font-size: 16px;
  position: relative;
  line-height: 22px;
}

.post-content__tags {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.post-content__tag {
  background-color: #fde2e2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 5px;
}

.post-content__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  color: #474344;
}

.post-like-count-wrap {
  margin-left: 2px;
}
.post-content__like-icon--compacted {
  color: red;
}

.post-content__like-icon--compacted {
  margin-right: 3px;
}

.post-content__like-icon--unvisible {
  display: none !important;
}

.post__option {
  display: flex;
  border-top: var(--main-border);
}

.post-option {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  gap: 7px;
  font-weight: bold;
  cursor: pointer;
}

.post-option:hover {
  opacity: 0.7;
}

.post-option--like {
  border-right: var(--main-border);
}