.post-content__tags {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.post-content__tag {
  background-color: #fde2e2;
  height: 26px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}